<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ slot('subject') }}</title>
</head>
<body style="background:#f1f1f1;-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background:#fefefe;box-sizing:border-box;color:#424242;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;line-height:1.5;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important;"><script id="__bs_script__">//<![CDATA[
  document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.18.13'></script>
<table class="body" style="background-color:#f1f1f1;Margin:0;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;height:100%;line-height:1.5;margin:0;padding:0;text-align:left;width:100%">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td align="center" class="center" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;word-wrap:break-word" valign="top">
            <center data-parsed="" style="width:100%">
                <table align="center" class="container float-center" style="margin: 33px! important; Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px; border-spacing: 0;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                            <table class="row collapse" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:600px;border-spacing: 0;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="small-20 large-20 columns first last" style="Margin: 0 auto;font-family:Georgia,Arial,sans-serif;font-size:16px;line-height:1.5;margin:0 auto;padding:0;text-align:left">
                                        <center data-parsed="" style="min-width:580px;width:100%">&nbsp;</center>

                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:600px; border-spacing: 0;">
                                            <tbody>
                                            <tr style="padding:10px;text-align:left;vertical-align:top">
                                                <th width="50%">
                                                    <center><a href="https://www.motaword.com" target="_blank"><img src="https://www.motaword.com/images/email/logo@2x.png" style="margin: 8px; width: 200px; height: 28px; padding-left: 30px; float: left;" /></a></center>
                                                </th>
                                                <th style="line-height: 1.5" width="50%"><span style=" font-size: 1rem;"><a href="https://www.motaword.com" target="_blank"><span class="float-right" style="margin: 8px; padding-top:3px;font-family:Helvetica, sans-serif; text-align: right; float: right; color: #6e6e6e; font-weight: 400; letter-spacing: 1.5px; padding-right: 30px;">{{ "now"|date("m/d") }}</span></a></span></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>

                            <table class="row collapse" style="display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:600px; border-spacing: 0;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="small-20 large-20 columns first last" style="Margin:0 auto;color:#424242;font-family: Helvetica Neue, Helvetica, Arial,sans-serif;font-size:1.1em;font-weight:200;line-height: 1.7;margin:0 auto;padding:0; text-align:left;">



                                        <table class="row collapse" style="display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:600px; border-spacing: 0;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-20 large-20 columns first last" style="Margin:0 auto;color:#424242;font-family: Helvetica Neue, Helvetica, Arial,sans-serif;font-size:1.1em;font-weight:400;line-height: 1.7;margin:0 auto;padding:0; text-align:left;">
                                                    <p style="font-size:6px;"> </p>

                                                    <div style="width: 600px;">
                                                        <p style="font-size: 6px; text-align: center;"> </p>

                                                        <div style="padding-left: 32px; padding-right: 32px;">
                                                            <div data-slot-container="1">
                                                                <div data-slot="text" style="text-align: center; font-size:1.6rem; font-weight: 600;">
                                                                    Hello :first_name!
                                                                </div>
                                                            </div>

                                                            <p style="font-size: 6px; text-align: center;"> </p>

                                                            <div data-slot-container="1">
                                                                <div data-slot="text" style=" text-align: left; font-size:1.1rem;">
                                                                    <span>A new project <span style="color: rgb(47, 118, 219);">:project_id</span> matches your language skills. There are <span style="color: rgb(47, 118, 219);">:word_count</span> :unit to be translated from <span style="color: rgb(47, 118, 219);">:from</span> to <span style="color: rgb(47, 118, 219);">:to</span> at the rate of :rate_text.</span>
                                                                </div>
                                                            </div>

                                                            <p style="font-size: 8px; text-align: center;"> </p>

                                                            <div data-slot-container="1">
                                                                <div data-slot="button" style="border: 1px solid #3276d7; color: white; letter-spacing: 0.2rem; text-decoration: none; border-radius: 5px; background-color: #3276d7; font-size: 12px; padding: 15px; text-align: center;">
                                                                    <a style="color: white;" href="https://www.motaword.com/vendor/projects/">VIEW NEW PROJECT</a>
                                                                </div>
                                                            </div>

                                                            <p style="font-size:8px;"> </p>

                                                            <div data-slot-container="1">
                                                                <div data-slot="text">
                                                                    <p style="text-align:left;font-size: 1.1rem;">
                                                                        Please remember, <strong>MotaWord</strong> is a collaborative cloud-based platform, which allows you to:
                                                                    </p>

                                                                    <p style="text-align:left;font-size: 1.1rem;">1- Work collaboratively with other translators<br />
                                                                        2- Participate in projects directly on our platform without having to download or upload any documents<br />
                                                                        3- Get compensated within 15 business days of project completion without having to send us a single invoice
                                                                    </p>

                                                                </div>
                                                            </div>

                                                            <p style="font-size: 12px; text-align: center;"> </p>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="row collapse secondary" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top;color:#f1f1f1">
                        <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;text-align:left;">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;color:#f1f1f1;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th style="Margin:0;background-color:#f1f1f1;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">
                                        <p style="Margin:0;Margin-bottom:10px;color:#f1f1f1;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:center">&nbsp;</p>

                                        <p style="Margin:0;Margin-bottom:10px;color:#f1f1f1;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:center">&nbsp;</p>

                                        <p style="Margin:0;Margin-top:10px;Margin-bottom:10px;color:#f1f1f1;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:center"><a href="https://www.instagram.com/motaword"><img alt="" src="https://www.motaword.com/images/email/instagram.png" style="border: none; clear: both; display: inline; height: 30px; max-width: 100%; outline: 0px; text-decoration: none; width: 30px;" /></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://www.facebook.com/motaword"><img alt="" src="https://www.motaword.com/images/email/facebook.png" style="border: none; clear: both; display: inline; height: 30px; max-width: 100%; outline: 0px; text-decoration: none; width: 30px;" /></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://www.twitter.com/motaword" style="Margin:0;color:#2199e8;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left;text-decoration:none"><img alt="" src="https://www.motaword.com/images/email/twitter.png" style="border: none; clear: both; display: inline; height: 29px; max-width: 100%; outline: 0px; text-decoration: none; width: 30px;" /> </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://www.linkedin.com/company/motaword" style="Margin:0;color:#2199e8;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left;text-decoration:none"><img alt="" src="https://www.motaword.com/images/email/linkedin.png" style="border: none; clear: both; display: inline; height: 30px; max-width: 100%; outline: 0px; text-decoration: none; width: 30px;" /></a></p>

                                        <p style="Margin:0;Margin-top:10px;Margin-bottom:10px;color:#f5f5f5;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:5px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:center">&nbsp;</p>

                                        <p style="Margin:0;color:#acacac;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:center;"><span style="font-size:12px;"><span style="font-family:Helvetica, 'Helvetica Neue', Arial, serif;">&copy; {{ "now"|date("Y") }} MotaWord. All Rights Reserved. See our privacy policy or our terms of use.<br /></span></span></p>

                                        <p style="Margin:0;color:#acacac;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:6px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:center">&nbsp;</p>

                                        <p style="Margin:0;color:#acacac;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:center">&nbsp;</p>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>

<p style="background-color: #f5f5f5;"><!-- prevent Gmail on iOS font size manipulation --></p>

<div style="background-color: #f5f5f5;display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>
</html>

